@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

:root {
  --Orange: hsl(25, 97%, 53%);
  --White: hsl(0, 0%, 100%);
  --Light-Grey: hsl(217, 12%, 63%);
  --Medium-Grey: hsl(216deg 12% 28%);
  --Dark-Blue: hsl(213, 19%, 18%);
  --Very-Dark-Blue: hsl(216, 12%, 8%);
}

html {
  font-size: 15px;
  -webkit-tap-highlight-color: transparent;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* utility classes and components */
div[data-status="active"]{
  display: flex !important;
  flex-direction: column;
}

div[data-status="unactive"] {
  display: none !important;
}

.items-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.25rem;
}

@media (min-width: 540px) {
  .items-wrapper {
    gap: 1.5rem;
  }
}

.circle {
  background-color: var(--Medium-Grey);
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}

.title {
  color: var(--White);
  font-size: 2rem;
  letter-spacing: -1px;
  word-spacing: -1px;
}

.describe {
  color: var(--Light-Grey);
  line-height: 1.7;
  word-spacing: -1px;
}

@media (min-width: 540px) {
  .describe {
    word-spacing: 0;
  }
}

/* start styling */
body {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: var(--Very-Dark-Blue);
  font-family: "Overpass", sans-serif;
  overflow: hidden;
}

.rate-box {
  padding-inline: 1.5rem;
  width: min(90%, 28rem);
  background-color: var(--Dark-Blue);
  border-radius: 1rem;
}

@media (min-width: 540px) {
  .rate-box {
    padding-inline: 2rem;
    border-radius: 1.5rem;
  }
}

.rate-select {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

@media (min-width: 540px) {
  .rate-select {
    margin-block: 2.25rem;
  }
}

.stars{
  order: -1;
}

.star {
  display: grid;
  place-content: center;
}

.star img {
  max-width: 100%;
  height: auto;
  display: block;
}

.rate-select .title {
  margin-block: 1rem;
}

@media (min-width: 540px) {
  .rate-select .title {
    margin-block: 1.125rem;
  }
}

.rate-options {
  margin-top: 1.675rem;
  margin-bottom: 1.375rem;
  list-style-type: none;
}

@media (min-width: 540px) {
  .rate-options {
    margin-top: 1.75rem;
    margin-bottom: 1.5rem;
  }
}

.rate-btn {
  width: 100%;
  display: grid;
  place-content: center;
  color: var(--Light-Grey);
  font-weight: bold;
  border: 0;
  cursor: pointer;
  transition: background-color 350ms linear, color 350ms linear;
}

.rate-btn:hover {
  background-color: var(--Light-Grey);
  color: var(--White);
}

.rate-btn[aria-checked="true"] {
  background-color: var(--Orange);
  color: var(--White);
}

.box--submit {
  order: 0;
  width: 100%;
  padding-top: 1.125rem;
  padding-bottom: 1rem;
  background-color: var(--Orange);
  color: var(--White);
  letter-spacing: 3px;
  border: 0;
  border-radius: 2rem;
  transition: background-color 350ms linear, color 350ms linear;
  cursor: pointer;
}

@media (min-width: 540px) {
  .box--submit {
    padding-top: 1.25rem;
    padding-bottom: 1.125rem;
  }
}

.box--submit:hover {
  background-color: var(--White);
  color: var(--Orange);
}

/* rate view */
.rate-view {
  margin-block: 2rem;
  text-align: center;
}

@media (min-width: 540px) {
  .rate-view {
    margin-block: 2.75rem;
  }
}

.img{
  order: -2;
}

.img img {
  margin-inline: auto;
  max-width: 100%;
  height: auto;
  display: block;
}

.rate-status {
  margin-top: 1.375rem;
  margin-bottom: 1.125rem;
  margin-inline: auto;
  padding: 0.5rem;
  order: -1;
  background-color: var(--Medium-Grey);
  border-radius: 2rem;
  color: var(--Orange);
  letter-spacing: 1px;
}

@media (min-width: 540px) {
  .rate-status {
    margin-block: 2rem;
  }
}

.rate-view .title {
  margin-bottom: 1.125rem;
}
